# environment
*.Rhistory
*.RData

# checkpoints
*/.ipynb_checkpoints
*/.pytest_cache
*/__pycache__

# data that is not needed for estimation
incidence_data/*

# ETH data that is calculated in every estimation process
ETH/data/temp/*
ETH/data/all_delays.csv
ETH/data/DEU/DEU_data_delays.csv
ETH/data/countryData/DEU-Estimates.rds
ETH/data/countryData/AUT-Estimates.rds

# summaries of traces
rtlive/*
!rtlive/DE/*.zip
!rtlive/summaries

# rtlive repo
rtlive/rtlive-global/

# ArroyoMarioli data
ArroyoMarioli/data_all_countries
ArroyoMarioli/mismeasurements
ArroyoMarioli/input_output_dataset/dataset.csv
ArroyoMarioli/estimates/optim_res*

# RScripts with irrelevant code, just for getting started
epiforecasts/data_preprocessing_epiforecasts.R
epiforecasts/example_epiforecasts.R
epiforecasts/input_data/

# open .xlsx files
otherFiles/~$*.xlsx