# incidence data that is not needed for estimation
incidence_data/*.csv

# checkpoints
.ipynb_checkpoints

# summaries of traces
rtlive_summaries
rtlive_summary_validation.ipynb

# example RScripts from authors
example_epiforecasts.R

# ETH data that is calculated in every estimation process
ETH/temp/*
ETH/data/all_delays.csv
ETH/data/DEU/DEU_data_delays.csv
ETH/data/countryData/DEU-Estimates.rds
ETH/data/countryData/AUT-Estimates.rds