# environment
*.Rhistory
*.RData

# checkpoints
*/.ipynb_checkpoints

# data that is not needed for estimation
incidence_data/*

# ETH data that is calculated in every estimation process
ETH/data/temp/*
ETH/data/all_delays.csv
ETH/data/DEU/DEU_data_delays.csv
ETH/data/countryData/DEU-Estimates.rds
ETH/data/countryData/AUT-Estimates.rds

# summaries of traces
rtlive/DE/*
!rtlive/DE/*.zip
rtlive/rtlive_summary_validation.ipynb

# ArroyoMarioli data
ArroyoMarioli/data_all_countries
ArroyoMarioli/mismeasurements

# RScripts with irrelevant code, just for getting started
epiforecasts/data_preprocessing_epiforecasts.R
epiforecasts/example_epiforecasts.R